* { font-family: Verdana, sans-serif;}

.grid-container { display: grid; grid-template-rows: 4em auto 4em; gap: 1em; padding: 0 1em; }
/*Header */

.header { display: grid; grid-template-columns: 10% auto 10%; gap: 1em; border-bottom: thin solid black; margin-bottom: 2%}
.header div {  height: 6em; }

#logo { text-align: center }

/*Navbar*/

#navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#navigation ul li { display: inline; padding: 0 4em; }
#navigation a { color: turquoise; }

/*body*/

.body { display: grid; grid-template-columns: 10% auto 10%; gap: 1em; }

#center>div:not(:first-child) { margin: 2em 0; }

#banner {
    width: 1200px;
    height: 450px;
    border: black 1px;
}

#banner img {
    width: 100%;
    height: 100%;
}

#Ankündigungen p { text-align: justify; border: thin solid black; padding: 1%}

/*Speisekarte tabelle*/

#Speisekarte table { text-align: center; border-collapse: collapse; width: 100%; }

th { border-top: thin solid black; border-bottom: thin solid black; border-right: thin solid grey; }

th:first-child { border-left: thin solid black; }

th:last-child { border-right: thin solid black; }

td { border-top: thin solid grey; border-right: thin solid grey; }

td:first-child { text-align:left ; border-left: thin solid black; padding-left: 1%}

td:last-child { border-right: thin solid black; }

#Allergens {
    border: solid black;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 4;
    justify-content: space-around;
    align-self: center;
    align-content: flex-start;
}
.allergens-list {
    margin: 1%;
}
/*Statistik*/

#Statistik ul { text-align: center; font-weight: bold; font-size: large; }

#Statistik ul li { display: inline; padding: 0 1em; margin: 0 auto; }

#newsletteranmeldung label:not(:last-child) { display: inline-block; color: grey; }

#submit { margin-left: 30px; }

/*Wichtigbereich*/

#Wichtig ul { display: table; margin: 0 auto; }

h1 { text-align: center; }

/*Footer*/

.footer { border-top: thin solid black; }
.footer { text-align: center; }
.footer ul li { display: inline; padding: 0.5em 1em; text-align: center; border-right: thin solid grey; }
.footer ul li:last-child { border-right: none; }
