body {
    font-family: Verdana;
}

body div {
    margin: 6% 15%;
}

/* Navbar */

.nav-bar {
    padding-left: 4%;
}

.nav-bar a {
    margin-left: 2%;
    color: turquoise;
}
/*hauptbild*/

#hauptbild {
    border: black 1px solid;
    width: 54%;
    height: 200px;
}

/*ankündigung*/

#ankuendigung p {
    width: 75%;
    border: 2px solid black;
    padding: 10px 10px;
}

/*speisen*/

table{
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}

.preis {
    text-align: center;
}

/* Zahlen */
#zahlen {
    text-align: center;
}

#zahlen > h2 {
    margin-bottom: 40px;
    text-align: initial;
}

.stats h3 {
    display: inline;
    margin-right: 10%;
}

/*Kontakt*/

.three-question {
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

.form-req {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 30px;
}

.form-req input {
    width: 150px;
}

.form-req select {
    width: 150px;
}

#submit {
    margin-left: 25px;
    background-color: white;
    font-weight: bold;
}

/*wichtig*/

#wichtig {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#wichtig ul {
    margin: 30px auto;
}

/*final wort*/
#final-wort {
    padding-top: 0;
    text-align: center;
}

/*footer*/
#footer {
    display: flex;
    justify-content: center;
}


#footer > ul {
    padding: 0;
    margin: 10px 0;
}

#footer li {
    width: auto;
    display: inline-block;
    text-align: center;
    padding: 0 20px;
}
#footer li:nth-child(odd) {
    border-right: 2px solid black;
}
